.hero {
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.hero .data-diri {
  position: relative;
  width: 40%;
  height: 700px;
  background-color: rgb(255, 251, 251);
  margin-right: 1.5rem;
  box-shadow: 5px 5px 20px rgb(210, 208, 208);
  z-index: 1;
}

.hero .data-diri img {
  display: block;
  margin: auto;
}
.hero .data-diri h1 {
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, "Times New Roman", Times,
    serif;
  text-align: center;
  font-weight: bold;
  font-style: unset;
}
.hero .data-diri p {
  margin-top: 10px;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, "Times New Roman", Times,
    serif;
  text-align: center;
  font-style: italic;
  color: rgb(106, 116, 126);
}

.data-diri .sosmed {
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.data-diri .sosmed img {
  padding: 5px;
  width: 50px;
  margin-right: 10px;
}

.blur {
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: aqua;
  filter: blur(4rem);
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.hero .about-us {
  position: relative;
  padding: 10px;
  width: 70%;
  height: auto;
  background-color: white;
  box-shadow: 5px 5px 20px rgb(210, 208, 208);
  z-index: 1;
  overflow: hidden;
}

.about-us .about {
  padding: 10px 20px;
  margin-top: 15px;
}

.about-us h1 {
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, "Times New Roman", Times,
    serif;
  font-weight: bold;
  font-style: unset;
  color: rgb(57, 218, 218);
}

.about-us .about p {
  margin-top: 10px;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, "Times New Roman", Times,
    serif;
  text-align: justify;
  font-style: unset;
  /* color: rgb(106, 116, 126); */
}

.about-us .project {
  padding: 5px 20px;
}
.about-us .list-project {
  width: 98%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.item {
  padding: 20px;
  text-align: center;
  width: 200px;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
}

/* Blur About */
.blur-about1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20%;
  height: 50px;
  background-color: rgb(28, 217, 211);
  /* filter: blur(5rem); */
  top: 0%;
  right: 0;
  margin: auto;
  z-index: -1;
  box-shadow: 2px 2px 10px rgb(220, 220, 220);
  border-bottom-left-radius: 20px;
}

.blur-about1 p {
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-style: italic;
}

.about-us .sertifikat {
  padding: 5px 20px;
}

.about-us .skill {
  padding: 2px 20px;
}

.about-us .list-skill {
  display: flex;
  gap: 10px;
}

.about-us .skill p {
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: unset;
  /* color: rgb(106, 116, 126); */
}

.sertifikat .list-sertif {
  padding: 0px;
}

.sertifikat .list-sertif p {
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: unset;
  /* color: rgb(106, 116, 126); */
}

/* Media query untuk ponsel dengan lebar maksimum 600px */
@media only screen and (max-width: 600px) {
  /* Ganti properti atau tambahkan properti sesuai kebutuhan untuk tata letak di ponsel */
  .hero {
    display: block;
  }

  .hero .data-diri {
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .hero .about-us {
    margin-top: 2rem;
    width: 90%;
    margin: auto;
  }

  .item {
    width: 100%;
    height: 200px;
    background-size: contain;
  }

  .data-diri img {
    width: 300px;
  }

  .data-diri .sosmed img {
    width: 30px;
  }

  .hero .data-diri h1 {
    font-size: 1rem;
  }
  .hero .data-diri p {
    font-size: 0.7rem;
  }

  .hero .data-diri {
    height: 550px;
  }
}
